@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Raleway:wght@400;500;600&family=Roboto:wght@100;400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background: linear-gradient(45deg, rgba(2,0,36,1) 20%, rgba(5,29,59,1) 90%, rgba(11,43,84,1) 100%);
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-img{
    height: 72px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px; /*espacamento entre os itens do menu*/
}

.cabecalho-menu-item{
    font-family: 'Montserrat', sans-serif;
    color: #F7F6F6;
    font-weight: 400;
    font-size: 18px;
}

.conteudo{
    border-top: 0.4px solid #F7F6F6;
    margin: 48px;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-texto{
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex-wrap: wrap;
    
}

.conteudo-principal-texto-titulo{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 64px;
    color: #E4AF00;
    text-transform: uppercase;
}

.conteudo-principal-texto-subtitulo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #F7F6F6;
}

.conteudo-principal-texto-botao{
    background-color: #E4AF00;
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #F7F6F6;
}

.conteudo-principal-texto-botao:hover{
    background-color: #DAA35E;
}

.conteudo-principal-img{
    height: 430px;
    border-radius: 60%;
    margin-top: 48px;

}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo{
    border-top: 0.4px solid #F7F6F6;
    padding-top: 48px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #F7F6F6;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #F7F6F6;
}

.rodape{
    padding: 32px;
    border-top: 0.4px solid #F7F6F6;
}

.rodape-img{
    height: 48px;
    display: block; /*truque usado para centralizar apenas 1 elemento e nã usar o flexbox*/
    margin: 0 auto;
}